body {      
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
     margin: 10%;
     font-family: 'Open Sans';
}
table{
    border-spacing: 10px 0px;
}

td, th{
    border-bottom: 2px solid grey;
    text-align: center;
    background: rgba(186, 247, 245, 0.5);
    padding: 20px;
}
td:hover{
    background: #375b5c;
    color: white;
    font-family: 'Ranchers', cursive;
    font-size: 30px;
}
